## Settings file was created by plugin MuvluvMod v1.2.0
## Plugin GUID: MuvluvMod

[General]

## 是否开启游戏内动态马赛克（默认关闭）
# Setting type: Boolean
# Default value: false
DynamicMosaic = false

## 是否总是开启跳过按钮（默认关闭）
# Setting type: Boolean
# Default value: false
EnableSkipButton = false

## 剧情中播放下一句话时是否中断当前语音
# Setting type: Boolean
# Default value: true
VoiceInterruption = true

## 自动跳过战斗（自动按跳过键，不受跳过键开关影响，默认关闭）
# Setting type: Boolean
# Default value: false
AutoSkipBattle = false

[Translation]

## 是否开启翻译；修改后重启生效
# Setting type: Boolean
# Default value: true
Enable = true

## 翻译加载的CDN；修改后重启生效
# Setting type: String
# Default value: https://raw.githubusercontent.com/anosu/muvluvgg-translation/refs/heads/main
CdnURL = https://raw.githubusercontent.com/anosu/muvluvgg-translation/refs/heads/main

## 翻译语言，目前支持：zh_Hans；修改后重启生效
# Setting type: String
# Default value: zh_Hans
Language = zh_Hans

[Translation.Cache]

## 翻译缓存目录，默认相对于插件目录，也可使用绝对路径；修改后重启生效
# Setting type: String
# Default value: MuvluvMod/translation
Directory = MuvluvMod/translation

## 本地翻译文件存在时是否忽略清单哈希并优先使用本地文件（manifest除外）；修改后重启生效
# Setting type: Boolean
# Default value: false
PreferLocalFiles = false

[Translation.Debug]

## 是否向调试服务器提交翻译缺失的剧本
# Setting type: Boolean
# Default value: true
SubmitMissingScenes = true

[Translation.Font]

## TMP字体AssetBundle的路径，默认相对于插件目录，也可使用绝对路径
# Setting type: String
# Default value: MuvluvMod/fonts/sarasagothicsc-bold
AssetBundlePath = MuvluvMod/fonts/sarasagothicsc-bold

[Update]

## 启动时是否检查插件更新；修改后重启生效
# Setting type: Boolean
# Default value: true
CheckForUpdates = true

